 h2 {
        color: rgb(128, 219, 16);
    }
    
H3 {
        color: rgb(219, 16, 219);
        background-color: rgb(16, 219, 128);
    }
    
p {
        color: rgb(219, 16, 26);
        background-color: rgb(16, 151, 219);
    }

button {
        background-color: rgb(124, 16, 219);
        color: black;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }

h4 {
        text-align: center;  /* text property */
        font-weight: bold;  /* font property */
        text-decoration  : red wavy underline;  /* text decoration property */
        font-size: 20px;  /* font property */
        font-family: Arial, sans-serif;  /* font property */
    }