
.card{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px 8px black;
    transition: 2s;
    
}

.desc {
    padding: 0 2px 0 2px;
}
img{
    width: 100%;
    
}

.card:hover {
     box-shadow: 2px 7px 8px rgb(139, 12, 12);
}